@import '@fontsource/grenze';

@tailwind base;

:root {
  --front-yellow: #ffffbbff;
  --back-grey: rgb(48, 48, 42);
}

/* Firefox */
* {
  scrollbar-width: 15px;
  scrollbar-color: var(--front-yellow) var(--back-grey);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--back-grey);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--front-yellow);
}

@tailwind components;
@tailwind utilities;
